<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add TV Shows List</title>
</head>

<body>
    <h1>List of TV Shows</h1>

    <form class="search-container" action="/fetch-shows" method="post">
        <input style="margin-right: 5px; padding: 8px; width: 200px;" type="text" id="searchTerm" name="searchTerm"
            placeholder="TV Show Name" required>
        <button class="submit-btn" type="submit">Fetch Details</button>
    </form>


    {{#each showsList}}
    <div class="showsDetailsContainer">
        <div class="posterContainer">
            <img src="https://image.tmdb.org/t/p/original/{{this.poster_path}}" alt="Movie Poster">
        </div>

        <div class="detailsTextContainer">
            <a href="/addShows/{{this.id}}">
                <h2>{{this.name}}</h2>
            </a>
            <p style="font-size: 0.8em; margin-bottom:5px">{{this.overview}}</p>
            <p style="font-size: 0.8em; font-weight: bold;">Release Date: {{this.first_air_date}}</p>

        </div>
    </div>
    {{/each}}

</body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

    body {
        font-family: 'Poppins', sans-serif;
    }

    h1 {
        text-align: center;
    }

    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .submit-btn {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .showsDetailsContainer {

        padding: 10px;
        display: flex;
        align-items: center;
        width: 50%;
        margin: 0 auto;
    }

    .posterContainer {
        margin-right: 20px;
    }

    .posterContainer img {
        width: 100px;
        height: auto;
    }

    .detailsTextContainer {
        text-align: left;
    }

    .detailsTextContainer h2 {
        margin-bottom: 10px;
    }

    .detailsTextContainer p {
        margin: 0;
    }

    a {
        text-decoration: none;
        color: :'black';
    }
</style>

</html>